.textareaContainer {
  padding: 1.4rem;
  background-color: var(--bgc-secondary);
  border-bottom-left-radius: 15px;
}
.textareaBox {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 15rem;
}

.textarea {
  width: 100%;
  border-radius: 10px;
  resize: none;
  font-size: var(--fs-xs);
  letter-spacing: 0.05rem;
  padding: 1.5rem 2.5rem;
}

.textarea::-webkit-scrollbar {
  background-color: #fff;
  width: 0.625rem;
  border-radius: 5px;
}
.textarea::-webkit-scrollbar-thumb {
  background-color: #000000a1;
  border-radius: 5px;
}

.textarea:focus {
  outline: none;
}

.saveButton {
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  cursor: pointer;
}
