.error {
  width: 100%;
  height: 100dvh;
  background-color: var(--bgc-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
}

.error h1 {
  font-size: var(--fs-large);
}
.error h1 > span {
  color: var(--bgc-secondary);
}

.errorInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.errorInfo h3 {
  font-size: var(--fs-small);
  margin: 1.5rem 0;
  line-height: 1.2;
}

.link {
  text-decoration: none;
  font-size: var(--fs-xs);
  color: var(--bgc-secondary);
  letter-spacing: 1.2px;
  transition: all 0.3s;
}
.link:hover {
  box-shadow: 0 2px 0 0 var(--bgc-secondary);
}

.image {
  max-width: 25rem;
  margin-top: -3rem;
}
@media screen and (max-width: 520px) {
  .error h1 {
    font-size: var(--fs-medium);
  }
  .link {
    text-decoration: none;
    font-size: var(--fs-xs);
  }
}
